<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1671520939-plvg7re7i91b8as4o0me8cppmafth2kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1671520939-plvg7re7i91b8as4o0me8cppmafth2kb</string>
	<key>API_KEY</key>
	<string>AIzaSyAg0ynyqB0FhiRuDwq3ly7YpNDGNItGFEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1671520939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnFirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>expo-firebase-template-dcec1</string>
	<key>STORAGE_BUCKET</key>
	<string>expo-firebase-template-dcec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1671520939:ios:1837185e9dcf1a94fa4dee</string>
</dict>
</plist>